{% extends "index.html" %}
{% load staticfiles %}
{% block content %}

          <div class="container">

            <div class="mdl-grid site-max-width">
              {% for obj in object_list %}

              <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                  <div class="mdl-card__media">
                    {% if obj.image %}
                     <img class="article-image" src='{{ obj.image.url }}' border="0" alt="">
                     {% else %}
                     <img class="article-image" src="{% static 'img/portfolio1.jpg' %}" border="0" alt="">
                     {% endif %}


                  </div>
                  <div class="mdl-card__title">
                      <h2 class="mdl-card__title-text">{{ obj.title }}</h2>
                  </div>
                  <div class="mdl-card__supporting-text">
                      {{ obj.content|truncatechars_html:90 }}
                  </div>
                  <br>
                  <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{{ obj.get_absolute_url }}">
                      Read More
                    </a>
                  </div>
              </div>
              {% endfor %}

              <div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

            </div>
{% endblock content %}
